In [ ]:
##using input() function take one number from the user and using ternary operators check whether the number is even or odd

In [14]:
# Take input from the user
num = int(input("Enter a number: "))

Enter a number:  85

In [16]:

# Use ternary operator to check even or odd
print("Even" if num % 2 == 0 else "Odd")

Odd

In [ ]:
##using input function take two numbers and then swap the number

In [26]:
# Take input from the user
a = input("Enter the first number (a): ")
b = input("Enter the second number (b): ")

Enter the first number (a):  56
Enter the second number (b):  65

In [28]:
# Swap the values
a, b = b, a

In [30]:
# Print the swapped values
print("After swapping:")
print(f"a = {a}")
print(f"b = {b}")

After swapping:
a = 65
b = 56

In [ ]:
##write a program to convert Kilometer to miles

In [34]:
# Take input from the user in kilometers
kilometers = float(input("Enter distance in kilometers: "))

# Conversion factor: 1 kilometer = 0.621371 miles
miles = kilometers * 0.621371

# Print the result
print(f"{kilometers} kilometers is equal to {miles:.2f} miles.")

Enter distance in kilometers:  13

13.0 kilometers is equal to 8.08 miles.

In [36]:
## find the simple intrest on RS.200 for 5 yrs at 5% per year

In [6]:
# Define values
P = 150  # Principal amount in rupees
R = 5    # Annual interest rate in percent
T = 5    # Time in years

# Calculate simple interest
SI = (P * R * T) / 100

# Display the result
print("Simple Interest is ₹", SI)

Simple Interest is ₹ 37.5