In [ ]:
##calculate the multiplication and sum of two numbers

In [2]:
# Input: Two numbers
a = 10
b = 5

In [4]:
# Calculation
sum_result = a + b
multiplication_result = a * b

In [6]:
# Output the results
print("Sum:", sum_result)
print("Multiplication:", multiplication_result)

Sum: 15
Multiplication: 50

In [ ]:
##declare two variables and print that which variable is largest using ternary operators

In [8]:
# Declare two variables
a = 15
b = 25

In [10]:
# Use ternary operator to determine and print which variable is greater
print("a is greater" if a > b else "b is greater")

b is greater

In [ ]:
##take input from the user(name,age,and city) and print it in a formatted string

In [14]:
# Taking input from the user
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")

Enter your name:  Achhu
Enter your age:  21
Enter your city:  Bangalore

In [16]:

# Printing the formatted string
print(f"Hello, my name is {name}. I am {age} years old and I live in {city}.")

Hello, my name is Achhu. I am 21 years old and I live in Bangalore.

In [ ]:
##python program to find the area of a triangle whose sides are given

In [26]:
import math

# Input the sides of the triangle
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

Enter side a:  15
Enter side b:  26
Enter side c:  20

In [28]:

# Calculate the semi-perimeter
s = (a + b + c) / 2

In [30]:

# Calculate the area using Heron's formula
area = math.sqrt(s * (s - a) * (s - b) * (s - c))

In [32]:
# Print the result
print(f"The area of the triangle is {area:.2f}")

The area of the triangle is 149.46